html {
  font-size: 62.5%;
}

body {
  font-family: $family_main;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  color: $main;
}

a {
  text-decoration: none;
  color: $main;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  @include mq(md) {
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
  }
}

.section-title {
  display: inline-block;
  font-size: 3.5rem;
  font-family: $family_accent;
  color: $accent;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.3em;
  background: linear-gradient(transparent 85%, $title_under 85%);
  padding: 50px 0 0;
  margin-bottom: 30px;
  border-radius: 8px;
  @include mq() {
    font-size: 2.5rem;
  }

  
  &::before {
    content: "\005C  　|　 /";
    display: block;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
  }
}

.sns {
  transition: .5s;
  @include flex();
  width: 142px;
  @include mq() {
    width: 110px;
  }

  img {
    width: 30px;
    @include mq() {
      width: 25px;
    }
  }
}
