@mixin flex($justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
}

@mixin bg-black($bg-color) {
  content: "";
  display: block;
  background: $bg-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* breakpoints */ 
$breakpoints: (
  'sm': 'screen and (max-width: 600px)',
  'md2': 'screen and (max-width: 740px)',
  'md': 'screen and (max-width: 1020px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}