/* color */ 
$base: #0C0C0A;
$main: #fff;
$accent: #F79D0F;
$title_under: rgba(255,255,255,0.4);
$black_layer1: rgba(12,12,10,0.5);
$black_layer2: rgba(12,12,10,0.8);

/* font family */ 
$family_main: 'Kiwi Maru', serif;
$family_accent: 'M PLUS Rounded 1c', sans-serif;

