@charset "utf-8";
@import "./_reset.scss";
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_base.scss";


/* header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 4%;
  display: flex;
  @include flex();
  align-items: center;
  z-index: 3;

  h1 img {
    width: 221px;
    @include mq() {
      width: 165px;
    }
  }

  nav {
    width: 710px;
    @include mq() {
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      background: $base;
      transform: translateX(100%);
      transition: .5s;
    }

    ul {
      @include flex();
      width: 100%;
      @include mq(md) {
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      @include mq() {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 90px;
      }

      li {
        @include mq(md) {
          width: 120px;
        }
        @include mq() {
          text-align: right;
          margin-bottom: 20px;
          padding-right: 30px;
        }

        a {
          font-size: 1.8rem;
          font-family: $family_accent;
          font-weight: bold;
          transition: .5s;
          @include mq(md) {
            font-size: 1.6rem;
          }

          &:hover {
            color: $accent;
            background: $title_under;
            border-radius: 5px;
          }
        }
      }
    }

    &.open {
      @include mq() {
        transform: translateX(0);
      }
    }
  }
}

/* berger btn */ 
.berger-btn {
  display: none;
  @include mq() {
    display: block;
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 5;

    span {
      display: block;
      width: 40px;
      height: 2px;
      background: $main;
      transition: .5s;

      &:nth-child(2) {
        transform: translateY(8px);
      }

      &:nth-child(3) {
        transform: translateY(16px);
      }
    }
  }

  &.open span{
    &:nth-child(1) {
      @include mq() {
        transform: translateY(8px) rotate(30deg);
      } 
    }

    &:nth-child(2) {
      @include mq() {
        opacity: 0;
      }    
    }

    &:nth-child(3) {
      @include mq() {
        transform: translateY(4px) rotate(-210deg);
      }
    }
  }
}

/* main visual */ 
#mv {
  position: relative;
  width: 100%;
  height: 100vh;

  .mv-image {
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slick-list {
      width: 100%;
      height: 100%;

      .slick-track {
        height: 100%;
      }
    }
  }

  .mv-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .container {
      position: relative;
      height: 100%;
      padding-top: 106px;
      box-sizing: border-box;
      font-family: $family_accent;
      color: $accent;

      h2 {
        margin-left: auto;
        padding: 85px 33px 112px;
        background: $black_layer1;
        border-radius: 50px;
        writing-mode: vertical-lr;
        font-size: 5.5rem;
        font-weight: bold;
        letter-spacing: 0.3em;
        height: 100%;
        box-sizing: border-box;
        @include mq() {
          font-size: 4.5rem;
          padding-right: 25px;
          padding-left: 25px;
        }
      }

      .mv-under {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include flex();
        font-weight: bold;
        align-items: flex-end;
        padding: 23px 33px;
        background: $black_layer1;
        border-radius: 50px;
        box-sizing: border-box;
        @include mq() {
          flex-direction: column;
          align-items: flex-start;
        }

        div {
          p {
            font-size: 2.5rem;
            letter-spacing: 0.1em;
            @include mq() {
              font-size: 2rem;
            }
          }
        }

        .sns {
          margin-top: 10px;
        }
      }
    }
  }
}

/* highlight */ 
#highlight {
  background: $base;

  .container {
    position: relative;
    text-align: center;
    opacity: 0;
    transition: 3s;

    &.fadein.appearance {
      opacity: 1;
    }

    p {
      font-size: 2.5rem;
      font-family: $family_accent;
      font-weight: bold;
      @include mq() {
        font-size: 2rem;
      }

      &:nth-of-type(1) {
        margin-bottom: 30px;
      }

      &:nth-of-type(2) {
        padding-bottom: 202px;
      }

      .br-sp {
        display: none;
        @include mq() {
          display: block;
        }
      }
    }

    img {
      &:nth-of-type(1) {
        position: absolute;
        bottom: 50px;
        left: 30px;
        width: 196px;
        @include mq() {
          width: 130px;
        }
      }

      &:nth-of-type(2) {
        position: absolute;
        bottom: 50px;
        right: 20px;
        width: 160px;
        @include mq() {
          width: 110px;
        }
      }
    }
  }
}

/* about */ 
#about {
  position: relative;
  background-image: url(../images/hanabi4.jpg);
  background-size: cover;

  &::before {
    @include bg-black($black_layer1);
  }
  
  .container {
    position: relative;
    text-align: center;
    opacity: 0;
    transition: 3s;

    &.fadein.appearance {
      opacity: 1;
    }

    p {
      width: 600px;
      margin: 0 auto;
      letter-spacing: 0.1em;
      padding-bottom: 186px;
      @include mq() {
        width: 100%;
        font-size: 1.8rem;
        line-height: 2;
        padding-bottom: 100px;
      }
    }
  }
}

/* cruise */ 
#cruise {
  position: relative;
  background-image: url(../images/ship3.jpg);
  background-size: cover;
  padding-bottom: 80px;

  &::before {
    @include bg-black($black_layer1);
  }

  .container {
    position: relative;
    text-align: center;
    opacity: 0;
    transform: translateY(300px);
    transition: 2s;

    &.fadein.appearance {
      opacity: 1;
      transform: translateY(0);
    }

    >p {
      font-family: $family_accent;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 30px;
      @include mq() {
        font-size: 2rem;
      }

      .br-pc {
        @include mq() {
          display: none;
        }
      }
    }

    .cruise-contents {
      margin: 0 auto;
      width: 681px;
      @include flex(space-between);
      @include mq(md2) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      @include mq() {
        flex-direction: column;
        width: 100%;
      }

      .cruise-block {
        width: 45%;
        box-sizing: border-box;
        height: 292px;
        border: 3px solid $main;
        border-radius: 50px;
        padding: 30px 25px 0;
        @include mq(md2) {
          width: 60%;
        }
        @include mq() {
          width: 100%;
        }
        

        &:first-child {
          margin-bottom: 13px;
        }

        h4 {
          font-weight: bold;
          border-bottom: 3px solid $main;
          margin-bottom: 25px;
        }

        p {
          font-weight: bold;
          text-align: left;
        }

        dl {
          font-weight: bold;
          @include flex();
          flex-wrap: wrap;

          dt {
            width: 50%;
            text-align: left;
          }

          dd {
            width: 50%;
            text-align: right;
          }
        }
      }
    }
  }
}

/* event outline */ 
#event-outline {
  padding: 52px 0 112px;
  background: $base;
  overflow: hidden;
  @include mq() {
    padding-bottom: 10px;
  }

  .container {
    position: relative;
    text-align: center;

    .section-title {
      opacity: 0;
      transition: 2s;
      @include mq() {
        padding-top: 30px; 
      }

      &.appearance {
        opacity: 1;
      }
    }

    .event-outline-block{
      position: relative;
      @include flex(flex-start);
      width: 681px;
      text-align: left;
      padding: 20px 43px;
      border: 3px solid $main;
      border-radius: 30px;
      margin: 0 auto 10px;
      z-index: 1;
      @include mq(md) {
        width: 100%;
        box-sizing: border-box;
      }
      @include mq() {
        flex-direction: column; 
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding-right: 3px;
        padding-left: 3px;
      }

      &:nth-of-type(1) {
        opacity: 0;
        transform: translateX(-300px);
        transition: 2s;

        &.appearance {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &:nth-of-type(2) {
        opacity: 0;
        transform: translateX(-300px);
        transition: 2s .3s;

        &.appearance {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &:nth-of-type(3) {
        opacity: 0;
        transform: translateX(-300px);
        transition: 2s .6s;

        &.appearance {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &:nth-of-type(4) {
        display: block;
        opacity: 0;
        transform: translateX(-300px);
        transition: 2s .9s;

        &.appearance {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .event-outline-title {
        width: 176px;
        @include mq() {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    >p {
      position: relative;
      width: 681px;
      text-align: left;
      padding: 20px 43px;
      margin: 0 auto;
      z-index: 1;
      opacity: 0;
      transform: translateX(-300px);
      transition: 2s .9s;
      @include mq(md) {
        width: 100%;
        box-sizing: border-box; 
      }
      @include mq() {
        width: 100%; 
        box-sizing: border-box;
        padding: 3px 15px;
      }

      &.appearance {
        opacity: 1;
        transform: translateX(0);
      }
    }

    img {
      width: 140px;
      position: absolute;
      z-index: 0;
      opacity: 0;
      transition: 2s;

      &.appearance {
        opacity: 1;
      }

      &:nth-of-type(1) {
        top: 141px;
        left: 0;
        @include mq() {
          top: 50px;
        }
      }

      &:nth-of-type(2) {
        bottom: 50px;
        right: 0;
        transform: rotate(-17deg);
        @include mq() {
          bottom: 0;
        }
      }
    }
  }
}

/* access */ 
#access {
  background: $base;
  padding-bottom:65px;

  .container {
    text-align: center;
    
    .access-inner {
      @include flex();
      @include mq(md) {
        flex-direction: column; 
      }

      .access-contents {
        width: 600px;
        font-size: 1.8rem;
        @include mq() {
          width: 100%;
        }

        .access-block {

          &:first-child {
            margin-bottom: 40px;
          }

          .access-block-title {
            font-family: $family_accent;
            color: $base;
            font-size: 2rem;
            font-weight: bold;
            width: 250px;
            padding: 7px 23px;
            background: $main;
            border-radius: 50px;
            margin-bottom: 20px;
            @include mq(md) {
              margin: 0 auto;
            }
            @include mq() {
              font-size: 1.8rem;
              padding: 5px 20px;
            }
          }

          .access-block-list {
            display: flex;
            flex-wrap: wrap;
            line-height: 2;
            text-align: left;
            @include mq(md) {
              text-align: center;
            }
            @include mq() {
              flex-direction: column;
            }


            p {
              display: inline-block;
            }

            .ship-name {
              width: 55%;
              text-align: left;
              @include mq() {
                width: 100%;
              }
  
              img {
                width: 30px;
                vertical-align: text-bottom;
                opacity: 0;
                transform: translateX(-200px);
                transition: 2s;

                &.appearance {
                  opacity: 1;
                  transform: translateX(0);
                }
              }

            }

            .ship-time {
              width: 45%;
              @include mq() {
                width: 100%;
                text-align: right;
              }

              img {
                width: 24px;
                vertical-align: text-bottom;
                opacity: 0;
                transition: 2s;

                &.appearance {
                  opacity: 1;
                }
              }
            }
          }
        }

        >p {
          font-size: 1.8rem;
          text-align: left;
          margin-top: 10px;
          @include mq(md) {
            text-align: center;
          }
        }
      }

      iframe {
        width: 400px;
        height: 350px;
        @include mq(md) {
          margin: 0 auto;
          margin-top: 40px;
        } 
        @include mq() {
          width: 100%;
          margin-top: 40px;
        }
      }
    }
  }
}

/* contact */ 
#contact {
  position: relative;
  background-image: url(../images/beach.jpg);
  background-size: cover;
  padding-bottom: 87px;
  @include mq() {
    padding-bottom: 50px;     
  }

  &::before {
    @include bg-black($black_layer2);
  }

  .container {
    position: relative;
    text-align: center;
    opacity: 0;
    transition: 3s;

    &.appearance {
      opacity: 1;
    }

    .contact-block {
      width: 485px;
      height: 117px;
      border: 3px solid $accent;
      border-radius: 50px;
      margin: 0 auto;
      @include mq() {
        width: 100%;
        height: 75px;
        font-size: 1.5rem; 
      }

      &:nth-of-type(1) {
        margin-bottom: 20px;
      }

      p {
        letter-spacing: 0.1em;

        &:first-child {
          padding: 12px 0 15px;
          @include mq() {
            padding: 10px 0 5px;
          }
        }
      }
    }
  }
}

/* footer */ 
#footer {
  background: $base;
  width: 100%;
  font-family: $family_accent;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  padding: 0 4% 20px;
  box-sizing: border-box;

  .footer-inner {
    border-top: 3px dotted $main;
    border-bottom: 3px dotted $main;
    padding: 15px 0;

    .footer-contents {
      @include flex();

      h2 img {
        width: 221px; 
        @include mq() {
          width: 130px;
        }
      }

      .sitemap {
        font-weight: bold;
        width: 260px;
        display: flex;
        flex-wrap: wrap;
        @include mq() {
          width: 210px;
        }

        li {
          width: 50%;

          a {
            font-size: 1.6rem;
            letter-spacing: 0.1em;
            @include mq() {
              font-size: 1.4rem;
            }
          }
        } 
      }
    }

    .sns {
      margin: 12px auto 0;
      @include mq() {
        margin-top: 40px;
      }
    }
  }

  p {
    text-align: center;
    margin-top: 15px;
    font-size: 1.4rem;
  }
}